{% extends 'pizza/base.html' %}
{% block 'body' %}
    {% load widget_tweaks %}
    <div class='container'>
      <h1>Order a pizza</h1>
      <h2>{{ note }}</h2>
      {% if created_pizza_pk %}
      <a href='{% url 'edit_order' created_pizza_pk %}'>Edit Your Order</a>
      {% endif %}
      <form action='{% url 'order' %}' method='post'>
        {% csrf_token %}
        {% comment %} {{ pizzaForm }} {% endcomment %}
        <div class='form-group'>
          {% for field in pizzaForm %}
          {{ field.errors }}
          {{ field.label_tag }}
          {% render_field field class='form-control' %}
          {% endfor %}
        </div>
        <input type='submit' value='Order Pizza'>
      </form>
      <br><br>
      Want more than one pizza?
      <form action='{% url 'pizzas' %}' method='get'>
        {{ multiple_form }}
        <input type='submit' value='Get Pizzas'>
      </form>
    </div>
{% endblock %}
{% comment %} <h1>Order a pizza</h1>

<h2>{{ note }}</h2>
{% if created_pizza_pk %}
<a href='{% url 'edit_order' created_pizza_pk %}'>Edit Your Order</a>
{% endif %} {% endcomment %}

{% comment %} <form enctype='multipart/form-data' action='{% url 'order' %}' method='post'> {% endcomment %}
{% comment %} <form action='{% url 'order' %}' method='post' novalidate> {% endcomment %}
{% comment %} <form action='{% url 'order' %}' method='post'>
  {% csrf_token %} {% endcomment %}
  {% comment %} {{ pizzaForm.topping1.label_tag }}
  {{ pizzaForm.topping1}}
  {{ pizzaForm.topping1.errors }}
  {{ pizzaForm.topping2.label_tag }}
  {{ pizzaForm.topping2 }}
  {{ pizzaForm.topping2.errors }}
  <label for='{{ pizzform.size.id_for_label }}'>Size:</label>
  {{ pizzaForm.size }}
  {{ pizzaForm.errors}} {% endcomment %}
  {% comment %} {{ pizzaForm }} {% endcomment %}
  {% comment %} <label for='topping1'>Topping 1: </label>
  <input id='topping1' type='text' name='topping1'>
  <label for='topping2'>Topping 2: </label>
  <input id='topping2' type='text' name='topping2'>
  <label for='size'>Size: </label>
  <select id='size' name='size'>
    <option value='small'>Small</option>
    <option value='medium'>Medium</option>
    <option value='large'>Large</option>
  </select> {% endcomment %}
  {% comment %} <input type='submit' value='Order Pizza'>
</form>

<br><br>

Want more than one pizza?

<form action='{% url 'pizzas' %}' method='get'>
  {{ multiple_form }}
  <input type='submit' value='Get Pizzas'>
</form> {% endcomment %}
